body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #f1f5f8;;
    

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sahel;
    color: black;
    list-style: none;
}

.logo {
    font-size: 20px;
    margin-right: -40px;
    margin-left: 115px;
}

.logo h4 {
    display: inline;
    margin-right: 5px;
    color: #2196F3;
    font-size: 22px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8.5vh;
    text-transform: capitalize;
    background-color: white;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2);
}

.nav-link {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 35%;
    font-weight: bold;
    font-size: 18px;
    margin-right: -280px;
}

.li-1{
    margin-right: -135px;
}

ul li a{
    color: black;
}

 ul{
    color: #2196F3;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: black;
    display: none;
    transition: all 0.4s ease;
}

@media screen and (max-width:1024px) {
    .nav-link {
        width: 45%;
        margin-right: -235px;
    }

    .logo {
        margin: 0;
    }
}



@media screen and (max-width:768px) {
    .nav-link{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .nav-link-res{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .nav-link-res {
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        background-color: #ffffff;
        display: none;
        font-weight: bold;
        width: 40%;
        transform: translateX(-100%);
        transition: 0.6s;
        box-shadow: -1px 2px 6px 0px rgba(0,0,0,0.2);
    }

    .nav-link-res li {
        margin: 10px 15px 29px 15px;
        transition: 0.6s;
    }


    body {
        overflow-x: hidden;
    }

    .burger div {
        display: block;
        

    }

    .burger {
        cursor: pointer;
        margin-right: -210px;
    }

    .logo , .nav-center{
        margin-left: -190px;
    }
}

.nav-active {
    transform: translateX(0%);
    display: block;
    transition: all 0.5s;
}

.toggle .line0 {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line1 {
    opacity: 0;
}

.toggle .line2 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container h2{
    font-size: 2.5rem;
    background-color: black;
    padding: 1rem;
    color: white;
    border-radius: 10px;
    width: 100%;
    letter-spacing: 0.25rem;
    line-height: 1;
    font-family: "Roboto" sans-serif;
}
.color{
    color: hsl(205deg 78% 60%);
    letter-spacing: 0.25rem;
}

.btn{
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 0.18rem;
    font-family: "Roboto" sans-serif;
    border-radius: 8px;
    border: 2px solid #000000;
    background-color: transparent;   
    font-size: 1rem;
    padding: 0.55rem 1.25rem;
    outline: none;
    transition: all 0.3s linear;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: 700;
}
.btn:hover{
    background: black;
    color: white;
}
.yasin{
    position: absolute;
    top: 240%;
    left: 50%;
    transform: translate(-50%,-50%);
    user-select: none;
    font-size: 15px;
}