body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sahel;
    color: white;
    list-style: none;
}

.logo {
    font-size: 20px;
    margin-right: -140px;
}

.logo h4 {
    display: inline;
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.65);
}

.nav-link {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 35%;
    font-weight: bold;
    font-size: 15.5px;
    margin-right: -280px;
}


.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: white;
    display: none;
    transition: all 0.4s ease;
}

@media screen and (max-width:1024px) {
    .nav-link {
        width: 45%;
        margin-right: -90px;
    }

    .logo {
        margin: 0;
    }
}



@media screen and (max-width:768px) {
    .nav-link{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .nav-link-res{
        display: none;
    }
}

@media screen and (max-width:768px) {
    .nav-link-res {
        position: absolute;
        left: 0;
        height: 90vh;
        top: 10vh;
        background-color: rgba(0, 0, 0, 0.65);
        display: none;
        width: 40%;
        transform: translateX(-100%);
        transition: 0.6s;
    }

    .nav-link-res li {
        margin: 10px 15px 29px 0px;
        transition: 0.6s;
    }


    body {
        overflow-x: hidden;
    }

    .burger div {
        display: block;
        margin-right: 179px;

    }

    .burger {
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    display: block;
    transition: all 0.5s;
}

.toggle .line0 {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle .line1 {
    opacity: 0;
}

.toggle .line2 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.fa-home,
.fa-universal-access,
.fa-shopping-basket,
.fa-blog,
.fa-address-card {
    font-size: 22px;
    margin-left: 10px;
}